@media (max-width: 991.98px) {
    /* HEADER  */
    header .navbar-brand {
        max-width: 180px;
    }

    #navbarMovie .nav-link {
        padding: 20px 14px;
        font-size: 14px;
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 767.98px) {
    /* HEADER  */
    #navbarMovie .navbar-nav {
        background-color: rgba(0, 0, 0, .9);
    }

    #navbarMovie .active.nav-item::after {
        width: 0;
    }

    #navbarMovie .active.nav-item .nav-link {
        color: var(--primary-color);
    }

    /* SHOW TIME  */
    .showTimes .nav-link span {
        padding: 10px 20px;
        font-size: 16px;
    }
    
    .showTimes .active.nav-link::after {
        width: 0;
    }

    .showTimes .active.nav-link span {
        color: var(--primary-color);
    }

    .showTimes .card__schedule .total-time {
        text-align: left;
    }

    /* COMING SOON  */
    .comingSoon__left .film-cate {
        font-size: 14px;
    }
}

@media screen and (max-width: 575.98px) {
    .mt-m-0 {
        margin-top: 0!important;
    }

    .mt-m-3 {
        margin-top: 1rem!important;
    }

    .col-m-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    
    /* CAROUSEL  */
    .carousel-caption__nameFilm {
        font-size: 40px;
    }

    /* SHOW TIME  */
    .showTimes.section {
        padding-top: 0;
    }

    .showTimes .nav-link span {
        padding: 10px 20px;
    }

    .showTimes .card__schedule .view-time span:last-child {
        display: block;
        margin-bottom: 16px;
    }

    /* COMING SOON  */
    .comingSoon__content {
        display: block;
    }

    .comingSoon__left, .comingSoon__right {
        width: 100%;
    }

    .comingSoon__right {
        margin-top: 16px;
    }

    /* MOVIE  */
    .movie__item img {
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    }
}