* {
    --primary-color: #ec7532;
    --primay-bg-color: linear-gradient(to right, #fbbd61, #ec7532);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #717171;
}

.section {
    padding: 75px 0;
}

.section-heading {
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 40px;
}

.section-heading::after {
    content: '';
    display: block;
    width: 125px;
    height: 4px;
    background-image: var(--primay-bg-color);
    margin-top: 20px;
}

.section-heading h2 {
    font-size: 18px;
    color: var(--primary-color);
    letter-spacing: 1.7px;
}


/* ---------------------------- */
/* HEADER CSS*/
header {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 99;
    transition: top .5s;
}

header .content {
    font-size: 14px;
    font-weight: 700;
}

header .topbar__icon,  header .topbar__text {
    cursor: pointer;
}

header .navbar-toggler {
    border: none;
}

header .navbar-toggler:focus {
    box-shadow: none;
}

header .topbar__text {
    border-right: 1px solid #dee2e6;
}

#navbarFixedMovie .navbar-nav,
#navbarMovie .navbar-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#navbarFixedMovie .nav-item::after,
#navbarMovie .nav-item::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background-image: var(--primay-bg-color);
    transition: all .5s;
    box-shadow: 0 0 20px 0 #fbbd61;
}

#navbarFixedMovie .nav-item:hover::after,
#navbarMovie .nav-item:hover::after {
    width: 100%;
}

#navbarFixedMovie .nav-link,
#navbarMovie .nav-link {
    color: white;
    padding: 20px 24px;
    letter-spacing: 3px;
}

#navbarFixedMovie .active.nav-item::after,
#navbarMovie .active.nav-item::after {
    width: 100%;
}

header .navbar__icon {
    color: var(--primary-color);
    opacity: 0.7;
}

/* HEADER FIXED  */
.header__fixed {
    position: fixed;
    top: -120px;
    background-color: #101010;
}

/* CAROUSEL  */
#mainCarousel .carousel-item:nth-child(1):after {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/hero-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

#mainCarousel .carousel-item:nth-child(2):after {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/hero-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

#mainCarousel .carousel-item:nth-child(3):after {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/hero-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

#mainCarousel .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, black, transparent);
}

#mainCarousel .carousel-caption {
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}

.carousel-caption__cateFilm {
    color: #fbbd61;
    font-size: 14px;
    letter-spacing: 2px;
    animation-delay: 0.5s;
}

.carousel-caption__nameFilm {
    font-size: 52px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.carousel-caption__desrFilm {
    font-size: 18px;
    margin-bottom: 20px;
}

.carousel-caption__action {
    animation-delay: 0.5s;
}

.carousel-caption__action span {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid white;
    font-size: 13px;
    text-align: center;
    line-height: 48px;
}

.carousel-caption__action .btn {
    background-image: var(--primay-bg-color);
    border-radius: 30px;
    padding: 12px 24px;
    outline: none;
    border: none;
    position: relative;
    overflow: hidden;
}

.carousel-caption__action .btn::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--primary-color);
    width: 120%;
    height: 100%;
    top: 0;
    left: -15px;
    transform: skewX(30deg) translateX(-100%);
    transition: all .5s;
}

.carousel-caption__action .btn__title {
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 1;
    letter-spacing: 4px;
    font-size: 13px;
}

.carousel-caption__action .btn:hover::after {
    transform: skewX(30deg) translateX(-5%);
}

#mainCarousel .carousel-indicators {
    left: 50%;
    transform: translateX(-50%);
    padding-left: 12px;
    bottom: 15%;
}

#mainCarousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    opacity: 1;
}

#mainCarousel .carousel-indicators button.active {
    background-color: white;
}

/* NEW IN  */
.newIn__content .card {
    border: none;
    overflow: hidden;
}

.newIn__content .card__img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.newIn__content img {
    border-radius: 10px;
}

.newIn__content .overlay {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -300%;
    width: 180%;
    height: 100%;
    background-image: var(--primay-bg-color);
    transform: skew(30deg);
    transition: all .5s;
    opacity: 0.9;
}

.newIn__content .card__img:hover .overlay {
    left: -40%;
}

.newIn__content .card__play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    visibility: 0;
    transition: all .5s;
}

.newIn__content .card__img:hover .card__play {
    opacity: 1;
    visibility: 1;
}

.newIn__content .card__play-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    border: 1px solid white;
    transition: all .5s;
}

.newIn__content .card__play-icon:hover {
    transform: scale(0.9);
}

.newIn__content .card__play a {
    text-decoration: none;
    color: white;
}

.newIn__content .card__play-read-more {
    letter-spacing: 4px;
    font-size: 13px;
}

.newIn__content .card-body {
    padding: 0;
    text-align: center;
}

.newIn__content .card-text {
    margin-bottom: 16px;
    color: #fbbd61;
}

.newIn__content .card-title {
    font-size: 18px;
    color: #4a4a4a;
    margin: 16px 0;
}

/* SHOW TIME  */
.showTimes .nav {
    border-bottom: 1px solid #d8d8d8;
    /* padding-bottom: 15px; */
}

.showTimes .nav-item:hover::after {
    width: 100%;
}

.showTimes .nav-link {
    padding: 0;
}

.showTimes .nav-link span{
    color: #4a4a4a;
    padding: 15px 30px;
    font-size: 18px;
    display: inline-block;
    letter-spacing: 1px;
}

.showTimes .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-image: var(--primay-bg-color); 
    transition: all .5s;
    box-shadow: 0 0 20px 0 #fbbd61;
}

.showTimes .nav-link:hover::after {
    width: 100%;
}

.showTimes .active.nav-link {
    background-color: transparent;
    color: #4a4a4a;
}

.showTimes .active.nav-link::after {
    width: 100%;
}

.showTimes .card {
    border: none;
    border-bottom: 1px solid #d8d8d8;     
    border-radius: 0;
}

.showTimes .card:last-child {
    border: none;
}

.showTimes .card__img {
    border-radius: 10px;
}

.showTimes .card-body {
    padding: 0;

}

.showTimes .card__cate {
    color: var(--primary-color);
    margin-bottom: 0;
}

.showTimes .card-title {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 8px;
}

.showTimes .card-text {
    color: #717171;
}

.showTimes .card_full-syno {
    font-size: 12px;
    color: var(--primary-color);
    letter-spacing: 4px;
    text-decoration: none;
    transition: all .5s;
    margin-bottom: 16px;
    display: inline-block;
}

.showTimes .card_full-syno:hover {
    color: #101010;
}

.showTimes .card__schedule {
    font-size: 12px;
    color: #4a4a4a;
}

.showTimes .card__schedule span {
    letter-spacing: 1.5px;
}

.showTimes .card__schedule .btn-time {
    font-size: 14px;
    color: #717171;
    letter-spacing: 2px;
    background-color: #d8d8d8;
    border: none;
    transition: all .5s;
}

.showTimes .card__schedule .btn-time:hover {
    color: #212529;
}

.showTimes .card__schedule .total-time {
    text-align: right;
    font-size: 12px;
    color: #4a4a4a;
    letter-spacing: 1.5px;
}

.showTimes .card__schedule .total-time span {
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    background-color: #4a4a4a;
    color: white;
    font-weight: bold;
    position: relative;
    top: -1px;
}

/* COMING SOON  */
.comingSoon {
    background: #101010  url('../img/slide-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.comingSoon .section-heading {
    border-color: #333;
}

.comingSoon .section-heading h2 {
    color: white;
}

.comingSoon__left .film-cate {
    color: var(--primary-color);
    letter-spacing: 2px;
}

.comingSoon__left .film-name {
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 1px;
}

.comingSoon__left .film-vote__star {
    color: #fbbd61;
    font-size: 14px;
}

.comingSoon__left .film-btn {
    text-decoration: none;
    color: var(--primary-color);
    letter-spacing: 4px;
    font-size: 12px;
    transition: all .5s;
}

.comingSoon__left .film-btn:hover {
    color: white;
}

.comingSoon__right a {
    position: relative;
    text-decoration: none;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    width: 80px;
    height: 80px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    transition: all .5s;
}

.comingSoon__right a:hover .play-icon {
    transform: translate(-50%, -50%) scale(0.9);
}

/* MOVIE LIST  */
.movieList {
    background-color: #101010;
}

.movieList img {
    border-radius: 10px;
}

.movie__item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.movieList .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #101010;
    opacity: 0.6;
    border-radius: 10px;
    transition: all .5s;
}

.movie__item:hover .overlay {
    opacity: 0;
}

/* CONTACT  */
.contact {
    background: white;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 300;
    color: #4a4a4a;
}

.contact__phone-num {
    color: #fbbd61;
    font-size: 46px;
    text-decoration: none;
    font-weight: 400;
}

/* FOOTER  */
footer {
    background-color: #101010;
}

.footer__main {
    /* border-bottom: 1px solid #fff; */
}

.footer__title {
    font-size: 16px;
    color: var(--primary-color);
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.footer__item {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding: 3px 0;
    letter-spacing: 1.5px;
    transition: all .5s;
}

.footer__item:hover {
    color: #fbbd61;
}

.footer__bottom {
    border-top: 1px solid rgba(255,255,255,.1);
    color: white;
}

.footer__item .footer__icon {
    width: 25px;
}